@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f5f2;
  --foreground: #232c33;
  --primary: #fe5d9f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f5f2;
    --foreground: #232c33;
    --primary: #fe5d9f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}
